Addition
========

The calculator performs basic addition.

| Scenario   | X            | Y            | X + Y      |
|------------|-------------:|-------------:|-----------:|
{{#basic}}
| {{name}}   | {{input.x}}  | {{input.y}}  | {{output}} |
{{/basic}}


Addition supports negative numbers.

| Scenario   | X            | Y            | X + Y      |
|------------|-------------:|-------------:|-----------:|
{{#negative}}
| {{name}}   | {{input.x}}  | {{input.y}}  | {{output}} |
{{/negative}}


Addition can result in integers larger than 32-bits in size.

| Scenario   | X            | Y            | X + Y      |
|------------|-------------:|-------------:|-----------:|
{{#large}}
| {{name}}   | {{input.x}}  | {{input.y}}  | {{output}} |
{{/large}}
