Addition
========

Basic addition with 32-bit integers.

+============+==============+==============+============+
| Scenario   | X            | Y            | X + Y      |
+============+==============+==============+============+
<results:{r|
| <r.name>   | <r.input.0>  | <r.input.1>  | <r.output> |
+------------+--------------+--------------+------------+
}>
