Addition
========

Basic addition with 32-bit integers.

| Scenario   | X            | Y            | X + Y      |
|------------|-------------:|-------------:|-----------:|
{{#results}}
| {{name}}   | {{input.x}}  | {{input.y}}  | {{output}} |
{{/results}}
